<section class="js-comments staticman-comments">

  {{ $slug := replace .RelPermalink "/" "" }}

  {{ if .Site.Data.comments }}
    {{ $comments := index $.Site.Data.comments $slug }}
    {{ if $comments }}
      {{ if gt (len $comments) 1  }}
        <h3>{{ len $comments  }} {{ i18n "moreComment" }}</h3>
      {{ else }}
        <h3>{{ len $comments  }} {{ i18n "oneComment" }}</h3>
      {{ end }}
    {{ else }}
      <h3>{{ i18n "noComment" }}</h3>
    {{ end }}


    {{ $.Scratch.Set "hasComments" 0 }}
    {{ range $index, $comments := (index $.Site.Data.comments $slug ) }}
      {{ if not .parent }}
        {{ $.Scratch.Add "hasComments" 1 }}
        <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="static-comment">
          <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=48">
          {{ if .website }}
          <h4 class="comment-author"><a rel="external nofollow" href="{{ .website }}">{{ .name }}</a></h4>
          {{ else }}
          <h4 class="comment-author">{{ .name }}</h4>
          {{ end }}
          <div class="comment-timestamp"><a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Permalink to this comment"><time datetime="{{ .date }}">{{ dateFormat (default (i18n "shortdateFormat") .Site.Params.dateformat) .date}}</time></a></div>
          <div class="comment-content"><p>{{ .comment | markdownify }}</p></div>
        </article>
      {{ end }}
    {{ end }}
  {{ end }}

<form class="js-form form" method="post" action="{{ .Site.Params.staticman.api }}">
  <input type="hidden" name="options[slug]" value="{{ replace .RelPermalink "/" "" }}">
  <input type="hidden" name="options[parent]" value="">

  {{ if .Site.Params.staticman.recaptcha }}
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.recaptcha.sitekey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ .Site.Params.staticman.recaptcha.secret }}">
  {{ end }}

  <fieldset>
    <div class="form-group">
      <textarea name="fields[comment]" rows="2" placeholder="Leave a comment" class="form-control"></textarea>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <input name="fields[name]" type="text" placeholder="Enter your name (optional)" class="form-control"/>
    </div>
  </fieldset>

  {{ if .Site.Params.staticman.recaptcha }}
  <fieldset>
    <div class="g-recaptcha" data-sitekey="{{ .Site.Params.staticman.recaptcha.sitekey }}"></div>
  </fieldset>
  {{ end }}

  <fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
</section>


<div class="modal fade" id="staticman-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
